
#background{
        color: #3aa0ff;
        background-color: #3aa0ff;
        border-color: black;
        border-radius: 20px;
        border: 40px;
        width: 1300px;
        height: 600px;
        margin-left: 190px;
        margin-top: -700px;
}


.card-detalhes{
    
     width: 35rem;
        display: flex;
        gap: 1rem;
        margin-right: 10rem;
        padding: 15rem;
}


